<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="head :: head"></head>
<body>
<header lang="en" th:replace="headerAdmin :: header"></header>

<section class="login-page">
    <h2>Lista fundacji</h2>
    <div class="slogan container container--70">


        <table class="tab1">
            <thead>
            <th>Nazwa fundacji</th>
            <th>Cel i misja fundacji</th>

            </thead>
            <tbody>
                <tr th:each="i : ${institutions}">
                    <td th:text="${i.name}"></td>
                    <td th:text="${i.description}"></td>
                </tr>
            </c:forEach>
            </tbody>
        </table>
        <div class="form-group form-group--buttons">
            <a href="/addInstitution" class="btn btn--without-border">Dodaj fundację</a>
        </div>
    </div>
</section>

<div lang="en" th:replace="footerMin :: footer"></div>
</body>
</html>