<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="head :: head"></head>
<body>
<header lang="en" th:replace="headerAdmin :: header"></header>

<section class="login-page">
  <h2>Lista użytkowników</h2>
  <div class="slogan container container--70">


    <table class="tab1">
      <thead>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      </thead>
      <tbody>
      <tr th:each="u : ${users}">
        <td th:text="${u.firstName}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.username}"></td>
      </tr>
      </c:forEach>
      </tbody>
    </table>

  </div>
</section>

<div lang="en" th:replace="footerMin :: footer"></div>
</body>
</html>